In [1]:
#LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are oddÂ¶

In [9]:
def lesser_of_two_evens(a,b):
    if a %2 == 0 and b %2 == 0:
        if a<b:
            return (a)
        else:
            return (b)
    else:
        if a>b:
            return (a)
        else:
            return (b)

In [10]:
lesser_of_two_evens(2,4)

2

In [8]:
lesser_of_two_evens(2,5)

5

In [11]:
#ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

In [29]:
def animal_crackers(text):
    if text.split() [0] [0] == text.split() [1] [0]:
        return True
    else:
        return False

In [30]:
animal_crackers('Levelheaded Llama')

True

In [31]:
animal_crackers('Crazy Kangaroo')

False

In [32]:
#MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

In [50]:
def makes_twenty(n1,n2):
    sumres = n1 +n2
    if sumres == 20 or (n1) == 20 or (n2) == 20:
        return True
    else:
        return False

In [51]:
makes_twenty(20,10)

True

In [52]:
makes_twenty(2,3)

False

In [53]:
makes_twenty(12,8)

True

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

In [246]:
def old_macdonald(name):
    for i in name:
        lst = list(name)
        lst [0] = lst [0].upper()
        lst [3] = lst [3].upper()
        newstr =""
        return newstr.join(lst)

In [247]:
old_macdonald ('macdonald')

'MacDonald'

MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

In [334]:
def master_yoda(name):
    name = name.split()
    name.reverse()
    return " ".join(name)

In [335]:
master_yoda ('Hello Human')

'Human Hello'

In [336]:
master_yoda('I am home')

'home am I'

Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

In [345]:
def almost_there (n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [348]:
almost_there (209)

True

In [51]:
def has_33(nums):
    for i, element in enumerate(nums):
        prev_elmt = nums[i-1] if i > 0 else None
        crt_elmt = element
        nxt_elmt = nums[i+1] if i < len(nums)-1 else None
        #index_3= nums.index(3)
        cnt_3 = nums.count(3)
        if cnt_3 >1:
            for i, elmt in enumerate(nums):    
                while prev_elmt == 3 and crt_elmt == 3: 
                    return True
                while crt_elmt == 3 and nxt_elmt == 3 :
                    break
                    return True
        else:
            return False
    print(False)

In [53]:
has_33([1, 3, 3])

True

In [54]:
has_33([1, 3, 1, 3])

False

In [55]:
has_33([3, 1, 3])

False

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii

In [162]:
def paper_doll(text):
    dpl= ""
    for char in text:
        dpl += char + char + char
    print(str(dpl))

In [163]:
paper_doll ("hello")

hhheeellllllooo

In [164]:
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [186]:
def blackjack (a,b,c):
    sum_tot = a+b+c
    
    if sum_tot < 21 or sum_tot == 21:
        return sum_tot
    elif sum_tot > 21 and a == 11 or b == 11 or c == 11:
        sum_tot = sum_tot - 10
    if sum_tot > 21:
         return "Bust"
    else:
        return sum_tot

In [187]:
blackjack(5,6,7)

18

In [188]:
blackjack(9,9,9)

'Bust'

In [189]:
blackjack(9,9,11)

19

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers

In [151]:
def summer_69 (arr):
    s_total = sum (arr)
    try:
        check_6 = arr.index(6)
        check_9 = arr.index(9)+1
        del(arr[check_6:check_9])
        return sum(arr)
    except:
        return s_total

In [152]:
summer_69([1, 3, 5])

9

In [153]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [154]:
summer_69([2, 1, 6, 9, 11])

14

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False

In [73]:
def spy_game(nums):
    
        index_0_7= nums.index(7)
        new_ls= nums [:index_0_7]
        try:
            if nums.index(0) >=0:
                #print (nums.index(0)) checking for results
                new_ls.pop(nums.index(0))
                #print (new_ls) checking for results
                if nums.index(0) >= 0:
                    #print (nums.index(0)) checking for results
                    new_ls.pop(nums.index(0))
                    return True
        except IndexError:
                return False

In [74]:
spy_game([1,2,4,0,0,7,5])

True

In [75]:
spy_game([1,0,2,4,0,5,7])

True

In [76]:
spy_game([1,7,2,0,4,5,0])

False

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [218]:
def count_primes (num):
    # I'm going to implement the Sieve of Eratosthenes algorithm
    rst = [True for i in range (num +1)]
    nm = 2
    while (nm * nm <= num):
        if (rst[nm] == True):
            for i in range (nm *2, num+1, nm):
                rst [i] = False
        nm+=1
    rst[0]= False
    rst[1]= False
    for nm in range (num + 1):
        if rst [nm]:
            count = rst.count(True)
            return count

In [219]:
count_primes(100)

25

PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
print_big('a')

out:   *  
      * *
     *****
     *   *
     *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E".

In [323]:
def print_big(letter):
    thisletters = {
                "a":["*****","*   *","*****","*   *","*   *\n"],
                "b":["**** ","*   *","*****","*   *","**** "],
                "c":[" ***","*   ","*   ","*   ", " ***"],
                "d":["****","*   *","*   *","*   *","****"],
                "e":["*****","*   ","****","*   ","*****"]          
                }
   
    for i in range(len(thisletters['a'])):
        for j in range(len(letter)):
            print (thisletters[letter[j]][i]+"   ",end = " ")
        print()

In [324]:
print_big("a")

*****
*   *
*****
*   *
*   *

****
*   *
*****
*   *
****